[submodule "deps/spdlog"]
	path = deps/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "deps/pybind11"]
	path = deps/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "deps/zlib"]
	path = deps/zlib
	url = https://github.com/madler/zlib.git
[submodule "deps/yaml-cpp"]
	path = deps/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "deps/stx"]
	path = deps/stx
	url = https://github.com/Klebert-Engineering/stx.git
[submodule "deps/speedyj"]
	path = deps/speedyj
	url = https://github.com/Klebert-Engineering/speedyj.git
[submodule "deps/catch2"]
	path = deps/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "deps/httplib"]
	path = deps/httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "deps/zserio-cmake-helper"]
	path = deps/zserio-cmake-helper
	url = https://github.com/Klebert-Engineering/zserio-cmake-helper.git
[submodule "deps/keychain"]
	path = deps/keychain
	url = https://github.com/Klebert-Engineering/keychain.git
[submodule "deps/python-cmake-wheel"]
	path = deps/python-cmake-wheel
	url = https://github.com/Klebert-Engineering/python-cmake-wheel.git
[submodule "deps/openssl"]
	path = deps/openssl
	url = https://github.com/openssl/openssl.git
