name: CI

on: [pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.8]
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
    - uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
        architecture: x64
    - run: python -m pip install setuptools wheel
    - run: mkdir build
    - name: Configure (Linux)
      if: matrix.os == 'ubuntu-latest'
      working-directory: build
      run: |
        cmake ..
    - name: Configure (macOS)
      if: matrix.os == 'macos-latest'
      working-directory: build
      run: |
        brew install openssl
        export OPENSSL_ROOT_DIR=$(brew --prefix openssl)
        cmake -DPython3_ROOT_DIR=$pythonLocation -DPython3_FIND_FRAMEWORK=LAST ..
    - name: Configure (Windows)
      if: matrix.os == 'windows-latest'
      working-directory: build
      run: |
        choco install --no-progress -y openssl
        echo "cmake -DPython3_ROOT_DIR=$env:pythonLocation"
        cmake "-DPython3_ROOT_DIR=$env:pythonLocation" -DPython3_FIND_REGISTRY=LAST ..
    - name: Build
      working-directory: build
      run: |
        cmake --build . && cmake --build . --target wheel
    - name: Test
      working-directory: build
      run: |
        ctest -C Debug --verbose --no-test=fail
    - name: Upload Artifact
      uses: actions/upload-artifact@v2
      with:
        name: pyzswagcl-py${{ matrix.python-version }}-${{ matrix.os }}
        path: build/pyzswagcl*.whl
