name: CI

on: [pull_request]

jobs:
  build-manylinux:
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]
    runs-on: ubuntu-latest
    container: ghcr.io/klebert-engineering/manylinux-cpp17-py${{ matrix.python-version }}:2023.2
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Cache Conan packages
        uses: actions/cache@v2
        with:
          path: ~/.conan/data
          key: ${{ runner.os }}-conan-${{ hashFiles('**/conanfile.txt') }}
          restore-keys: |
            ${{ runner.os }}-conan-
      - name: Configure
        run: |
          python3 -m venv venv && . ./venv/bin/activate
          pip install -U setuptools wheel pip conan==2.0.8
          mkdir build && cd build && cmake -DCMAKE_BUILD_TYPE=Release ..
      - name: Build
        working-directory: build
        run: |
          . ../venv/bin/activate
          cmake --build .
          mv bin/wheel bin/wheel-auditme
          mkdir bin/wheel && mv bin/wheel-auditme/zswag*.whl bin/wheel
          auditwheel repair bin/wheel-auditme/pyzswagcl*.whl -w bin/wheel
      - name: Test
        working-directory: build
        run: |
          . ../venv/bin/activate
          ctest -C Release --verbose --no-test=fail
      - name: Deploy
        uses: actions/upload-artifact@v2
        with:
          name: zswag-py${{ matrix.python-version }}-ubuntu-latest
          path: build/bin/wheel/*.whl
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-13, windows-latest]
        python-version: ["3.8", "3.9", "3.10", "3.11"]
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
    - name: Cache Conan packages
      uses: actions/cache@v2
      with:
        path: ~/.conan/data
        key: ${{ runner.os }}-conan-${{ hashFiles('**/conanfile.txt') }}
        restore-keys: |
          ${{ runner.os }}-conan-
    - uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
        architecture: x64
    - run: python -m pip install setuptools wheel conan==2.0.8
    - run: mkdir build
    - name: Build (macOS)
      if: matrix.os == 'macos-13'
      working-directory: build
      run: |
        python -m pip install delocate
        cmake -DPython3_ROOT_DIR=$pythonLocation \
              -DPython3_FIND_FRAMEWORK=LAST \
              -DCMAKE_BUILD_TYPE=Release \
              -DHTTPLIB_USE_BROTLI_IF_AVAILABLE=OFF ..
        cmake --build .
        mv bin/wheel bin/wheel-auditme  # Same as on Linux
        mkdir bin/wheel && mv bin/wheel-auditme/zswag*.whl bin/wheel
        _deps/python-cmake-wheel-src/repair-wheel-macos.bash \
              "$(pwd)"/bin/wheel-auditme/pyzswagcl*.whl \
              "$(pwd)"/bin/wheel pyzswagcl
    - name: Build (Windows)
      if: matrix.os == 'windows-latest'
      working-directory: build
      run: |
        echo "cmake -DPython3_ROOT_DIR=$env:pythonLocation"
        cmake "-DPython3_ROOT_DIR=$env:pythonLocation" -DPython3_FIND_REGISTRY=LAST -DHTTPLIB_USE_ZLIB_IF_AVAILABLE=OFF -DCMAKE_BUILD_TYPE=Release ..
        cmake --build . --config Release
    - name: Deploy
      uses: actions/upload-artifact@v2
      with:
        name: zswag-py${{ matrix.python-version }}-${{ matrix.os }}
        path: build/bin/wheel/*.whl
    - name: Test
      working-directory: build
      run: |
        ctest -C Release --verbose --no-test=fail
